.phone-frame {
  box-sizing: border-box;
}

.phone-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 25px;
  background: #000;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}
